body {
    color: white;
    background: green;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
     border-bottom: solid 2px gold;
     padding: 20px;
     font-size: 25; 
     color: rgba(0, 0, 255, 0.790);
}

.chamada {
    background: rgb(0, 0, 255, 0.790);
    padding-bottom: 80px;
    padding-top: 45px;
    display: flex;
    justify-content: center;
}

.chamada-texto { 
    margin-right: 5%;
}

h1 { 
    font-size: 40px;
}

p {
    font-size: 20px;
}
img {
    height: 350px;
}

.Temp-Palmeiras {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Temp {
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px;
    margin-top: 29px;
}

.Temp-Palmeiras img {
    opacity: 0.5;
    height: 200px;
}

.Temp-Palmeiras img:hover {
    opacity: 1.0;
    border: 1px solid rgb(0, 110, 255);
}

.Temp {
    color: rgba(0, 0, 255, 0.790);
}